.faq_content{
    input{
        width:800px;
        height:35px;
        display:block;
        margin:0 auto;
    }
    textarea{
        width:800px;
        height:300px;
        margin-top:8px;
        margin-bottom:40px;
    }
}